local_tests.ipynb

# ignore ALL files in ANY directory named __pycache__
__pycache__/

# ignore ALL files in ANY directory named .vscode
.vscode/

# ignore ALL files in ANY directory named .pytest_cache
.pytest_cache/

# ignore ALL files in ANY directory env
env/
